@font-face {
    font-family: headerFont;
    src: url(ChakraPetch-Regular.ttf);
}

/* Backgrounds */
body {
    background-color: #364F6B;
}

.card {
    margin: 5%;
    background-color: #3FC1C9;
}

p, label {
    color: #F5F5F5;
}

table {
    background-color: white;
}

/* Headings */
h1 {
    color: #FC5185;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 30px;
    font-family: headerFont;
}

.form-header{color: white;}

button {
    background-color: #FC5185 !important;
}

/* Validations */
.invalid-feedback{
    color: black;
}

.invalid-checkbox {
    color: black;
    display: none;
}

.was-validated .form-check-input:valid~.form-check-label {
    color: black;
}

/* Table CSS */
#tableContainer {
    display: none;
    margin: 0 10% 5% 5%;
}

tbody tr {
    background-color: #769FCD;
}

tr:nth-child(even) {
    background-color: #B9D7EA;
}

